
/* Message Blocks
/******************************************************************************/

.paseo-tip,
.paseo-warning {
	position: relative;

	padding: 14px 14px 14px 60px;
	margin-bottom: 24px;

	background-color: #fbfcfd;
	border-radius: 3px;
	border: 1px solid #e3e5e8;
}

.paseo-tip:before,
.paseo-warning:before {
	content: '';
	position: absolute;
	top: 14px;
	left: 14px;

	display: block;
	width: 32px;
	height: 32px;

	background-repeat: no-repeat;
	background-position: top center;
}

.paseo-tip:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 40'%3E%3Cpath fill='%238cc6f0' d='M8 38C8 39.1 8.9 40 10 40L18 40C19.1 40 20 39.1 20 38L20 36 8 36 8 38zM14 0C6.27 0 0 6.27 0 14 0 18.76 2.38 22.95 6 25.48L6 30C6 31.1 6.9 32 8 32L20 32C21.1 32 22 31.1 22 30L22 25.48C25.62 22.95 28 18.76 28 14 28 6.27 21.73 0 14 0z'/%3E%3C/svg%3E");
}

.paseo-warning:before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='indianred' d='M14.4242327,6.14839275 C15.2942987,4.74072976 16.707028,4.74408442 17.5750205,6.14839275 L28.3601099,23.59738 C29.5216388,25.4765951 28.6755462,27 26.4714068,27 L5.5278464,27 C3.32321557,27 2.47386317,25.4826642 3.63914331,23.59738 Z M16,20 C16.5522847,20 17,19.5469637 17,19.0029699 L17,12.9970301 C17,12.4463856 16.5561352,12 16,12 C15.4477153,12 15,12.4530363 15,12.9970301 L15,19.0029699 C15,19.5536144 15.4438648,20 16,20 Z M16,24 C16.5522848,24 17,23.5522848 17,23 C17,22.4477152 16.5522848,22 16,22 C15.4477152,22 15,22.4477152 15,23 C15,23.5522848 15.4477152,24 16,24 Z M16,24'/%3E%3C/svg%3E");
}

.paseo-tip p,
.paseo-warning p {
	margin: 0.75em 0;
	max-width: 800px;
}

.paseo-tip h4,
.paseo-warning h4 {
	margin-bottom: -0.25em;
	color: #29323d;
}
